.container.my-5
    .Activation.row.mx-auto 
      .col-sm-12 
        .form 
          form(action="/Activated", method="post") 
          .Otp.my-2 
            p click Below Button For Activation
          
          .col-sm-12.col-md-6   
            input.bg-primary.my-4.button(type='submit',value='Activation Link',data-transition='fade', data-theme='c')